# Managed by git-multi (sub repo git@github.com:elgatopanzon/godotegp-framework.git) (commit d1bb59d2dd8daa999bf4b1e2877ca5893eabc8ed) 
/libs/godotegp-framework 
# Managed by git-multi (sub repo git@github.com:elgatopanzon/godotegp-framework-nongame.git) (commit 50a943a4b4e38b3df8e6b84b38e6eae41eadc1b1) 
/libs/godotegp-framework-nongame 
